.box{
    background-color: var(--bs-primary);
    min-height: 50px;
    border-radius: 5px;
}

.parallax{

    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

} 

.imageAsBack{
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    
}

.imgColapse{
    height: 100%;
}

@media (max-width: 992px){
    .imgColapse{
        min-height: 450px;
    }
}

@media (max-width: 768px){
    .imgColapse{
        min-height: 500px;
    }
}

body, html{
    height: 100%;
}